[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C=GB
OU=Engineering
emailAddress=admin@localhost
CN = localCA.local



[ v3_req ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer 
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign